.box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    div{
        margin-right: 15px;
    }
    .btn{
        margin-right: 15px;
    }
    .form-group{
        margin-bottom: 0px;
    }
  }
     