<div class="content">
  <div class="row">
    <div class="col-md-12">
      
      <div class="card card-plain">
        <div class="card-header flex">
        <button class="btn btn-primary" (click)="addProductOpenDialog()" type="button">Add Product</button>
        <button class="btn btn-primary" (click)="addQualityOpenDialog()" type="button">Add Quality</button>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <!-- <div class="row justify" [formGroup]="filterForm">
                <div class="col-md-11 mr-bottom-remove mr-rigth-remove">
                  <div class="form-group">
                    <input formControlName="searchText" class="form-control" placeholder="search" type="text" />
                  </div>
                </div>
                <div class="col-md-1 mr-left-remove mr-top-remove">
                  <button class="btn btn-fill btn-info" (click)="applyFilter()" type="button">Search</button>
                </div>
              </div> -->
            <table mat-table [dataSource]="qualities" multiTemplateDataRows class="table tablesorter" matSort
              matSortActive="created" matSortDisableClear matSortDirection="desc">
              <ng-container matColumnDef="QualityName">
                <th mat-header-cell *matHeaderCellDef>Quality Name</th>
                <td mat-cell *matCellDef="let quality" class="pointer-cursor"
                  (click)="expandedElement = expandedElement === quality ? null : quality">{{quality?.name}}</td>
              </ng-container>
              <ng-container matColumnDef="RemainingQuantity">
                <th mat-header-cell *matHeaderCellDef>Remaining Quantity</th>
                <td mat-cell *matCellDef="let quality">{{quality.pendingQuantity}}</td>
              </ng-container>
              <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let quality" [attr.colspan]="displayedColumns.length"
                  [@detailExpand1]="quality == expandedElement ? 'expanded' : 'collapsed'">
                  <div class="example-element-detail"
                    [@detailExpand]="quality == expandedElement ? 'expanded' : 'collapsed'">
                    <div class="row" *ngIf="quality.bailDetails && quality.bailDetails.length>0; else noaddress" style="width:100%">
                      <div class="col-md-3 pointer-cursor" *ngFor="let baildata of quality.bailDetails; let i = index"
                      (click)="showBaleInfo(baildata.bailNo)"
                      >
                        <div class="card" >
                          <div class="card-header">
                            # {{i+1}}
                          </div>
                          <div class="card-body">
                            Bale No: {{baildata.bailNo}}
                            <br />
                            Billed Quanitity: {{baildata.billedQuantity}}
                            <br />
                            Received Quantity: {{baildata.receivedQuantity}}
                            <br />
                            Pending Quality: {{baildata.pendingQuantity}}
                          </div>
                        </div>
                      </div>
                    </div>
                    <ng-template #noaddress>
                      No Bales
                    </ng-template>
                  </div>

                </td>
              </ng-container>
              <ng-container matColumnDef="NoBale">
                <th mat-header-cell *matHeaderCellDef>Number of Bales</th>
                <td mat-cell *matCellDef="let quality">
                  {{quality.bailDetails?.length}}
                </td>
              </ng-container>
              <ng-container matColumnDef="ProductName">
                <th mat-header-cell *matHeaderCellDef>Product Name</th>
                <td mat-cell *matCellDef="let quality">
                  {{quality.productName}}
                </td>
              </ng-container>
              <ng-container matColumnDef="HsnCode">
                <th mat-header-cell *matHeaderCellDef>Hsn Code</th>
                <td mat-cell *matCellDef="let quality">
                  {{quality.hsnCode}}
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                [class.example-expanded-row]="expandedElement === row"></tr>
              <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
              <!-- Row shown when there is no matching data. -->
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" [attr.colspan]="displayedColumns.length">No data</td>
              </tr>
            </table>
            <app-pagination [pageSize]="pageSize" (pageSizeChange)="onPageSizeChange($event)"
              (nextButtonClick)="onPageChange($event)" (prevButtonClick)="onPageChange($event)"
              [pageNumber]="pageNumber" [total]="allQuality.length">
            </app-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>