.icon-pencil {
  margin-right: 5px;
}
tr.example-detail-row {
  height: 0;
}
.example-element-detail {
  overflow: hidden;
  display: flex;
}

.card-header {
  &.flex {
    display: flex;
  }
  .align-right {
    align-items: flex-end;
    margin-left: auto;
  }
}
