.card-subheading {
    display: flex;
    .align-right {
      align-items: flex-end;
      margin-left: auto;
    }
  }
  .card .card-header {
    padding: 0px 15px 0;
  }
  .mat-divider {
    border-color: #1e1e2e;
    border-width: 5px;
    margin-left: -25px;
    margin-right: -25px;
  }
  .mat-expansion-panel {
    background-color: #27293d;
  }
  .mat-expansion-panel-header-title {
    color: rgba(255, 255, 255, 0.6);
  }
  .mat-expansion-indicator::after {
    color: rgba(255, 255, 255, 0.6);
  }
  .mat-panel-action {
    flex-grow: 0;
  }
  .sub-form {
    margin-top: 5px;
  }
  