<div class="login-content">
    <div class="row" style="height: 98vh; width: 99vw; justify-content: center; align-items: center;">
        <div class="col-md-4">
            <form [formGroup]="loginForm" (submit)="submit()">
                <div class="card card-user">
                    <div class="card-body">
                        <p class="card-text"></p>
                        <div class="author">
                            <div class="block block-one"></div>
                            <div class="block block-two"></div>
                            <div class="block block-three"></div>
                            <div class="block block-four"></div>
                            <a href="javascript:void(0)">
                                <img alt="..." src="assets/img/logo.png" class="avatar" style="border: none;">

                            </a>
                            <h2 class="description">Login</h2>
                        </div>
                        <div class="card-description">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Username</label>
                                        <input class="form-control" placeholder="Username" 
                                        [ngClass]="{'error': loginForm.dirty && formControls['username'].errors}"
                                        formControlName="username"
                                        type="text" />
                                        <div *ngIf="formControls['username'].errors">
                                            <p class=" text-danger">
                                                Username is required
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Password</label>
                                        <input class="form-control" placeholder="password" type="password"
                                        [ngClass]="{'error': loginForm.dirty && formControls['password'].errors}"
                                        formControlName="password"
                                         />
                                         <div *ngIf="formControls['password'].errors">
                                            <p class=" text-danger">
                                                Password is required
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="button-container">
                            <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Login</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>