<div class="content">
    <div class="row">
        <div class="col-md-12">
            <form [formGroup]="addPurchaseForm" (submit)="submitData()">
                <mat-accordion class="example-headers-align" multi>

                    <mat-expansion-panel expanded="true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Basic challan details
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="card" formGroupName="purchaseDetails">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label> Godown </label>
                                            <select
                                                [ngClass]="{'error': addPurchaseForm.dirty && purchaseDetailsFC['godownId'].errors}"
                                                placeholder="Godown" class="form-control" formControlName="godownId">
                                                <option value="">Select Godown</option>
                                                <option *ngFor="let godown of godowns" [value]="godown.id">
                                                    {{godown.name}}
                                                </option>
                                            </select>

                                            <div *ngIf="purchaseDetailsFC['godownId'].errors">
                                                <p class=" text-danger">
                                                    Godown is required
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label> Purchase Bill No </label>
                                            <input class="form-control"
                                                [ngClass]="{'error': addPurchaseForm.dirty && purchaseDetailsFC['purchaseBillNo'].errors}"
                                                formControlName="purchaseBillNo" placeholder="Purchase order bill no"
                                                type="text" />
                                            <div *ngIf="purchaseDetailsFC['purchaseBillNo'].errors">
                                                <p class=" text-danger">
                                                    Purchase Bill No is required
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label> Purchase Date </label>
                                            <input class="form-control"
                                                [ngClass]="{'error': addPurchaseForm.dirty && purchaseDetailsFC['date'].errors}"
                                                formControlName="date" placeholder="date" type="date" />
                                            <div *ngIf="purchaseDetailsFC['date'].errors">
                                                <p class=" text-danger">
                                                    Purchase Date is required
                                                </p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label> Vendor </label>
                                            <select
                                                [ngClass]="{'error': addPurchaseForm.dirty && purchaseDetailsFC['vendorId'].errors}"
                                                placeholder="Vendor" class="form-control" formControlName="vendorId">
                                                <option value="">Select Vendor</option>
                                                <option *ngFor="let vendor of vendors" [value]="vendor.vendorId">{{vendor.companyName}}
                                                </option>
                                            </select>

                                            <div *ngIf="purchaseDetailsFC['vendorId'].errors">
                                                <p class=" text-danger">
                                                    Vendor is required
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label> Product </label>
                                            <select
                                                [ngClass]="{'error': addPurchaseForm.dirty && purchaseDetailsFC['productId'].errors}"
                                                placeholder="product" class="form-control" formControlName="productId">
                                                <option value="">Select product</option>
                                                 <option *ngFor="let product of products" [value]="product.id">{{product.name}}
                                                </option> 
                                            </select>
                                            <div *ngIf="purchaseDetailsFC['productId'].errors">
                                                <p class=" text-danger">
                                                    Product is required
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label> Quality </label>
                                            <select
                                                [ngClass]="{'error': addPurchaseForm.dirty && purchaseDetailsFC['qualityId'].errors}"
                                                placeholder="Quality" class="form-control" formControlName="qualityId">
                                                <option value="">Select Quality</option>
                                                <option *ngFor="let quality of uiQualities" [value]="quality.id">{{quality.name}} 
                                                </option>
                                            </select>
                                            <div *ngIf="purchaseDetailsFC['qualityId'].errors">
                                                <p class=" text-danger">
                                                    Quality is required
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label> Hsn Code </label>
                                            <input class="form-control" [value]="hsnCode" placeholder="Hsn Code"
                                                type="text" disabled />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-expansion-panel>

                    <mat-expansion-panel expanded="true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Bail Details
                            </mat-panel-title>

                        </mat-expansion-panel-header>
                        <mat-panel-description>
                            <div *ngIf="formControls['baleDetails'].errors">
                                <p class=" text-danger">
                                    Atleast 1 bale is required
                                </p>
                            </div>
                        </mat-panel-description>
                        <div class="card">
                            <div class="card-header">
                                <button type="button" (click)="addBale()" class="btn btn-icon btn-round align-right">
                                    <i class="tim-icons icon-simple-add"></i>
                                </button>
                            </div>
                            <div class="card-body">
                                <ng-container formArrayName="baleDetails">
                                    <div class="row">
                                        <ng-container *ngFor="let bails of baleDetails.controls; let i = index">
                                            <div [formGroupName]="i" class="col-md-4">
                                                <div class="card bale-card">
                                                    <div class="card-subheading">
                                                        <h4>Bale {{i+1}}</h4>
                                                        <i class="tim-icons icon-trash-simple align-right delete-icon"
                                                            (click)="removeBale(i)"></i>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label> Bale No </label>
                                                                    <input
                                                                        [ngClass]="{'error': addPurchaseForm.dirty &&  getBaleControl(i)['baleNo'].errors}"
                                                                        class="form-control" formControlName="baleNo"
                                                                        placeholder="Bale Number" type="text" />
                                                                    <div *ngIf="getBaleControl(i)['baleNo'].errors">
                                                                        <p class=" text-danger">
                                                                            Bale no is required
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label> Billed Quality </label>
                                                                    <input
                                                                        [ngClass]="{'error': addPurchaseForm.dirty && getBaleControl(i)['billedQuantity'].errors}"
                                                                        class="form-control"
                                                                        formControlName="billedQuantity"
                                                                        placeholder="Billed Quantity" type="number" />

                                                                    <div
                                                                        *ngIf="getBaleControl(i)['billedQuantity'].errors">
                                                                        <p class=" text-danger">
                                                                            Quality is required
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </ng-container>
                                    </div>
                                </ng-container>
                                <button class="btn btn-fill btn-primary" [disabled]="!addPurchaseForm.valid"
                                    type="submit">Save</button>
                                <button class="btn btn-fill btn-info" [routerLink]="['/purchase']"
                                    type="button">Cancel</button>
                            </div>
                        </div>
                    </mat-expansion-panel>

                </mat-accordion>
            </form>

        </div>
    </div>
</div>