.sub-nav {
    background: linear-gradient(0deg, #1039e8 0%, #3492ee 100%);
}
.sub-nav-accordion-icon {
    font-size: 12px !important;
    float: right !important;
}
.logo{
    background: #1e1e2c;
}