<div class="logo">
  <a class="simple-text logo-mini">
    <div class="logo-img">
      <img src="./assets/img/logo.png" />
    </div>
  </a>
  <a class="simple-text logo-normal">
    KP Textile
  </a>
</div>
<div class="sidebar-wrapper">
  <ul class="nav">
    <li routerLinkActive="active" class="nav-item">
      <a routerLink="/dashboard">
        <i class="tim-icons  icon-chart-pie-36"></i>
        <p>Dashboard</p>
      </a>
    </li>
    <li routerLinkActive="active" class="nav-item">
      <a (click)="showMasterDataMenu = !showMasterDataMenu">
        <i class="tim-icons icon-book-bookmark"></i>
        <p>Master data  
          <i class="sub-nav-accordion-icon tim-icons icon-minimal-down" *ngIf="!showMasterDataMenu"></i>
          <i class="sub-nav-accordion-icon tim-icons icon-minimal-up" *ngIf="showMasterDataMenu"></i>
        </p>
       
      </a>
      <ul class="nav sub-nav" *ngIf="showMasterDataMenu">
        <li class="nav-item">
          <a routerLink="/godown">
            <i class="tim-icons icon-app"></i>
            <p>Godown</p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/quality">
            <i class="tim-icons icon-scissors"></i>
            <p>Quality</p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/transpoter">
            <i class="tim-icons icon-delivery-fast"></i>
            <p>Transporters</p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/vendor">
            <i class="tim-icons icon-bus-front-12"></i>
            <p>Vendor</p>
          </a>
        </li>
      </ul>
    </li>
    <li routerLinkActive="active" class="nav-item">
      <a routerLink="/purchase">
        <i class="tim-icons icon-cart"></i>
        <p>Basic Challan</p>
      </a>
    </li>
    <li routerLinkActive="active" class="nav-item">
      <a routerLink="/sales">
        <i class="tim-icons icon-coins"></i>
        <p>Delivery Challan</p>
      </a>
    </li>
  </ul>
</div>